
.btn-blue-menu {
	background-color: #202b61;
	color: #fff;
	border-color: #ddd;
}

.btn-default-menu {
	background-color: #054c5f;
	color: #fff;
	border-color: #ddd;
}

/*
 * Skin: Default
 * ----------
 */
 .skin-default .main-header .navbar {
 	background-color: #3c8dbc;
 }
 .skin-default .main-header .navbar .nav > li > a {
 	color: #ffffff;
 	padding: 17px;
 }
 .skin-default .main-header .navbar .nav > li > a:hover,
 .skin-default .main-header .navbar .nav > li > a:active,
 .skin-default .main-header .navbar .nav > li > a:focus,
 .skin-default .main-header .navbar .nav .open > a,
 .skin-default .main-header .navbar .nav .open > a:hover,
 .skin-default .main-header .navbar .nav .open > a:focus,
 .skin-default .main-header .navbar .nav > .active > a {
 	background: rgba(0, 0, 0, 0.1);
 	color: #f6f6f6;
 }
 .skin-default .main-header .navbar .sidebar-toggle {
 	color: #ffffff;
 }
 .skin-default .main-header .navbar .sidebar-toggle:hover {
 	color: #f6f6f6;
 	background: rgba(0, 0, 0, 0.1);
 }
 .skin-default .main-header .navbar .sidebar-toggle {
 	color: #fff;
 }
 .skin-default .main-header .navbar .sidebar-toggle:hover {
 	background-color: #367fa9;
 }
 @media (max-width: 767px) {
 	.skin-default .main-header .navbar .dropdown-menu li.divider {
 		background-color: rgba(255, 255, 255, 0.1);
 	}
 	.skin-default .main-header .navbar .dropdown-menu li a {
 		color: #fff;
 	}
 	.skin-default .main-header .navbar .dropdown-menu li a:hover {
 		background: #367fa9;
 	}
 }
 .skin-default .main-header .logo {
 	background-color: #367fa9;
 	color: #ffffff;
 	border-bottom: 0 solid transparent;
 }
 .skin-default .main-header .logo:hover {
 	background-color: #357ca5;
 }
 .skin-default .main-header li.user-header {
 	background-color: #3c8dbc;
 }
 .skin-default .content-header {
 	background: transparent;
 }
 .skin-default .wrapper,
 .skin-default .main-sidebar,
 .skin-default .left-side {
 	background-color: #054c5f; /*Background del menu y header*/
 }
 .skin-default .user-panel > .info,
 .skin-default .user-panel > .info > a {
 	color: #fff;
 }
 .skin-default .sidebar-menu > li.header {
 	color: #fff;
 	background: #054c5f;
 	font-size: 17px !important;
 }
 .skin-default .sidebar-menu > li > a {
 	border-left: 3px solid transparent;
 	font-size: 18px !important; /*tamaño de las opciones del menu*/
 }
 .skin-default .sidebar-menu > li:hover > a, /*Hover*/
 .skin-default .sidebar-menu > li.active > a {
 	color: #054c5f;
 	background: #ffffff;
 	border-left-color: #3c8dbc;
 	font-size: 18px !important; /*tamaño de las opciones del menu al pasar mouse*/
 }
}
.skin-default .sidebar-menu > li > .treeview-menu {
	margin: 0 1px;
	background: #2c3b41;
}
.skin-default .sidebar a {
	color: #b8c7ce;
}
.skin-default .sidebar a:hover {
	text-decoration: none;
}
.skin-default .treeview-menu > li > a {
	color: #8aa4af;
	font-size: 16px !important;
}
.skin-default .treeview-menu > li.active > a,
.skin-default .treeview-menu > li > a:hover {
	color: #ffffff;
}
.skin-default .sidebar-form {
	border-radius: 3px;
	border: 1px solid #374850;
	margin: 10px 10px;
}
.skin-default .sidebar-form input[type="text"],
.skin-default .sidebar-form .btn {
	box-shadow: none;
	background-color: #374850;
	border: 1px solid transparent;
	height: 35px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.skin-default .sidebar-form input[type="text"] {
	color: #666;
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
}
.skin-default .sidebar-form input[type="text"]:focus,
.skin-default .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #fff;
	color: #666;
}
.skin-default .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	border-left-color: #fff;
}
.skin-default .sidebar-form .btn {
	color: #999;
	border-top-left-radius: 0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 0;
}
.skin-default.layout-top-nav .main-header > .logo {
	background-color: #3c8dbc;
	color: #ffffff;
	border-bottom: 0 solid transparent;
}
.skin-default.layout-top-nav .main-header > .logo:hover {
	background-color: #3b8ab8;
}

.skin-default .image-principal{min-height: 240px;background-color: #A9AEB1; padding-top: 20px;padding-bottom: 10px; text-align: center;}


.skin-default .navbar-principal{margin-bottom: 0px !important; background-color: #054c5f !important;}
.skin-default .main-sidebar{top:auto !important; padding-top: 0px;}
.skin-default .navbar{border-radius:0px;}
.skin-default .title-oaca{text-align: center; color: #FFFFFF; font-size: 60px;}
.skin-default .title-moment{color:#FFFFFF; font-size: 40px } /*Tamaño de letra*/
.skin-default .main-header{ max-height: none !important; }

.skin-default .main-header .navbar{
	background-color: #054c5f !important;
}
.skin-default .main-header .logo{ background-color: #054c5f }

.skin-default .content-wrapper{padding-top: 20px; background-color: #F8FFFC}
.skin-default .title{text-align: center;}
.skin-default .image{text-align: center;}
.skin-default .btn-default-gears{background-color: #054c5f !important;}

.skin-default .blue{
	background-color: #054c5f !important;
}

 /*
 * Skin: Blue 2
 * ----------
 * bakc:#7d000c;
 * color:#72ffff;

 */
 .skin-red .main-header .navbar {
 	background-color: #7d000c;
 }
 .skin-red .main-header .navbar .nav > li > a {
 	color: #72ffff;
 	padding: 17px;
 }


 .skin-red .main-header .navbar .nav > li > a:hover,
 .skin-red .main-header .navbar .nav > li > a:active,
 .skin-red .main-header .navbar .nav > li > a:focus,
 .skin-red .main-header .navbar .nav .open > a,
 .skin-red .main-header .navbar .nav .open > a:hover,
 .skin-red .main-header .navbar .nav .open > a:focus,
 .skin-red .main-header .navbar .nav > .active > a {
 	background: rgba(0, 0, 0, 0.1);
 	color: #f6f6f6;
 }
 .skin-red .main-header .navbar .sidebar-toggle {
 	color: #72ffff;
 }
 .skin-red .main-header .navbar .sidebar-toggle:hover {
 	color: #f6f6f6;
 	background: rgba(0, 0, 0, 0.1);
 }
 .skin-red .main-header .navbar .sidebar-toggle {
 	color: #fff;
 }
 .skin-red .main-header .navbar .sidebar-toggle:hover {
 	background-color: #367fa9;
 }
 @media (max-width: 767px) {
 	.skin-red .main-header .navbar .dropdown-menu li.divider {
 		background-color: rgba(255, 255, 255, 0.1);
 	}
 	.skin-red .main-header .navbar .dropdown-menu li a {
 		color: #fff;
 	}
 	.skin-red .main-header .navbar .dropdown-menu li a:hover {
 		background: #367fa9;
 	}
 }
 .skin-red .main-header .logo {
 	background-color: #367fa9;
 	color: #72ffff;
 	border-bottom: 0 solid transparent;
 }
 .skin-red .main-header .logo:hover {
 	background-color: #357ca5;
 }
 .skin-red .main-header li.user-header {
 	background-color: #7d000c;
 }
 .skin-red .content-header {
 	background: transparent;
 }
 .skin-red .wrapper,
 .skin-red .main-sidebar,
 .skin-red .left-side {
 	background-color: #7d000c; /*Background del menu y header*/
 }
 .skin-red .user-panel > .info,
 .skin-red .user-panel > .info > a {
 	color: #fff;
 }
 .skin-red .sidebar-menu > li.header {
 	color: #72ffff;
 	background: #7d000c;
 	font-size: 17px !important;
 }
 .skin-red .sidebar-menu > li > a {
 	border-left: 3px solid transparent;
 	font-size: 18px !important; /*tamaño de las opciones del menu*/
 }
 .skin-red .sidebar-menu > li:hover > a, /*Hover*/
 .skin-red .sidebar-menu > li.active > a {
 	color: #7d000c;
 	background: #72ffff;
 	border-left-color: #7d000c;
 	font-size: 18px !important; /*tamaño de las opciones del menu al pasar mouse*/
 }
}
.skin-red .sidebar-menu > li > .treeview-menu {
	margin: 0 1px;
	background: #2c3b41;
}
.skin-red .sidebar a {
	color: #72ffff;
}
.skin-red .sidebar a:hover {
	text-decoration: none;
}
.skin-red .treeview-menu > li > a {
	color: #8aa4af;
	font-size: 16px !important;
}
.skin-red .treeview-menu > li.active > a,
.skin-red .treeview-menu > li > a:hover {
	color: #72ffff;
}
.skin-red .sidebar-form {
	border-radius: 3px;
	border: 1px solid #374850;
	margin: 10px 10px;
}
.skin-red .sidebar-form input[type="text"],
.skin-red .sidebar-form .btn {
	box-shadow: none;
	background-color: #374850;
	border: 1px solid transparent;
	height: 35px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.skin-red .sidebar-form input[type="text"] {
	color: #666;
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
}
.skin-red .sidebar-form input[type="text"]:focus,
.skin-red .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #fff;
	color: #666;
}
.skin-red .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	border-left-color: #fff;
}
.skin-red .sidebar-form .btn {
	color: #999;
	border-top-left-radius: 0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 0;
}
.skin-red.layout-top-nav .main-header > .logo {
	background-color: #7d000c;
	color: #72ffff;
	border-bottom: 0 solid transparent;
}
.skin-red.layout-top-nav .main-header > .logo:hover {
	background-color: #3b8ab8;
}

.skin-red .image-principal{min-height: 240px;background-color: #A9AEB1; padding-top: 20px;padding-bottom: 10px; text-align: center;}


.skin-red .navbar-principal{margin-bottom: 0px !important; background-color: #7d000c !important;}
.skin-red .main-sidebar{top:auto !important; padding-top: 0px;}
.skin-red .navbar{border-radius:0px;}
.skin-red .title-oaca{text-align: center; color: #72ffff; font-size: 60px;}
.skin-red .title-moment{color:#72ffff; font-size: 40px } /*Tamaño de letra*/
.skin-red .main-header{ max-height: none !important; }

.skin-red .main-header .navbar{
	background-color: #7d000c !important;
}
.skin-red .main-header .logo{ background-color: #7d000c }

.skin-red .content-wrapper{padding-top: 20px; background-color: #F8FFFC}
.skin-red .title{text-align: center;}
.skin-red .image{text-align: center;}
.skin-red .btn-default-gears{background-color: #7d000c !important;}

.skin-red .blue{
	background-color: #7d000c !important;
}