.nomostrar {
  display: none;
}

/*Styles for Copyright*/
#copyright ul.thumbnails.image_picker_selector {
    width: 50%;
    margin: auto;
}

#copyright ul.thumbnails.image_picker_selector li{
  float: none;
}

#copyright ul.thumbnails.image_picker_selector li .thumbnail h3 {
  text-align: center;}
#copyright ul.thumbnails.image_picker_selector li .thumbnail img {
    width: 300px;
  }
#copyright ul.thumbnails.image_picker_selector li .thumbnail {
    border: 5px solid #55606e;
}
#copyright ul.thumbnails.image_picker_selector li .thumbnail.selected {
 background: rgba(243, 156, 18, 0.82); }
/* ////////////////////////////////////// */


#feedback {
  font-size: 1.4em;
}

#selectable .ui-selecting {
  background: #FECA40;
}

#selectable .ui-selected {
  background: #F39814;
  color: white;
}

#selectable {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  width: 1050px;
}

#selectable li {
  padding: 15px;
  float: left;
  width: 500px;
  height: auto;
  font-size: 4em;
  text-align: center;
  margin: 10px;
}

#selectable-copyright .ui-selecting {
  background: #FECA40;
}

#selectable-copyright .ui-selected {
  background: #F39814;
  color: white;
}

#selectable-copyright {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

#selectable-copyright li {
  margin: 3px;
  padding: 0.4em;
  font-size: 1.4em;
  height: 241px;
}

#selectable-copyright li img {
  height: auto;
  width: 180px;
}

.content-img-copyright {
  overflow: hidden;
  line-height: 200px;
}

///////////////////

/*Start Wizard*/

.bootstrapWizard {
  display: block;
  list-style: none;
  padding: 0;
  position: relative;
  width: 100%
}

.bootstrapWizard a:hover,
.bootstrapWizard a:active,
.bootstrapWizard a:focus {
  text-decoration: none
}

.bootstrapWizard li {
  display: block;
  float: left;
  width: 12%;
  text-align: center;
  padding-left: 0
}

.bootstrapWizard li:before {
  border-top: 3px solid #55606E;
  content: "";
  display: block;
  font-size: 0;
  overflow: hidden;
  position: relative;
  top: 11px;
  right: 1px;
  width: 100%;
  z-index: 1
}

.bootstrapWizard li:first-child:before {
  left: 50%;
  max-width: 50%
}

.bootstrapWizard li:last-child:before {
  max-width: 50%;
  width: 50%
}

.bootstrapWizard li.complete .step {
  background: #0aa66e;
  padding: 1px 6px;
  border: 3px solid #55606E
}

.bootstrapWizard li .step i {
  font-size: 10px;
  font-weight: 400;
  position: relative;
  top: -1.5px
}

.bootstrapWizard li .step {
  background: #B2B5B9;
  color: #fff;
  display: inline;
  font-size: 15px;
  font-weight: 700;
  line-height: 12px;
  padding: 7px 13px;
  border: 3px solid transparent;
  border-radius: 50%;
  line-height: normal;
  position: relative;
  text-align: center;
  z-index: 2;
  transition: all .1s linear 0s
}

.bootstrapWizard li.active .step,
.bootstrapWizard li.active.complete .step {
  background: #0091d9;
  color: #fff;
  font-weight: 700;
  padding: 7px 13px;
  font-size: 15px;
  border-radius: 50%;
  border: 3px solid #55606E
}

.bootstrapWizard li.complete .title,
.bootstrapWizard li.active .title {
  color: #2B3D53
}

.bootstrapWizard li .title {
  color: #bfbfbf;
  display: block;
  font-size: 13px;
  line-height: 15px;
  max-width: 100%;
  position: relative;
  table-layout: fixed;
  text-align: center;
  top: 20px;
  word-wrap: break-word;
  z-index: 104
}

.wizard-actions {
  display: block;
  list-style: none;
  padding: 0;
  position: relative;
  width: 100%
}

.wizard-actions li {
  display: inline
}

.tab-content.transparent {
  background-color: transparent
}

.tab-content {
  padding-left: 2em;
  padding-right: 2em;
}


/*End Wizard*/

.form-actions-btn {
  padding: 20px;
}

div.div_content_image_organization_colaborators {
  margin: 30px 0;
}

div.div_content_image_organization_colaborators div img {
  width: 200px;
  margin: 30px;
  height: auto;
}

div.div_content_image_organization_colaborators div img.center-edit {
margin-left: auto;
margin-right: auto;
display: block;
}
